/RandomNameGeneratorLibrary/bin/Debug/RandomNameGeneratorLibrary.dll
/RandomNameGeneratorLibrary/bin/Debug/RandomNameGeneratorLibrary.dll.config
/RandomNameGeneratorLibrary/bin/Debug/RandomNameGeneratorLibrary.pdb
/RandomNameGeneratorLibrary/bin/Release/RandomNameGeneratorLibrary.dll
/RandomNameGeneratorLibrary/bin/Release/RandomNameGeneratorLibrary.dll.config
/RandomNameGeneratorLibrary/bin/Release/RandomNameGeneratorLibrary.pdb
/RandomNameGeneratorLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/RandomNameGeneratorLibrary/obj/Debug/RandomNameGeneratorLibrary.csproj.FileListAbsolute.txt
/RandomNameGeneratorLibrary/obj/Debug/RandomNameGeneratorLibrary.csprojResolveAssemblyReference.cache
/RandomNameGeneratorLibrary/obj/Debug/RandomNameGeneratorLibrary.dll
/RandomNameGeneratorLibrary/obj/Debug/RandomNameGeneratorLibrary.pdb
/RandomNameGeneratorLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/RandomNameGeneratorLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/RandomNameGeneratorLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/RandomNameGeneratorLibrary/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/RandomNameGeneratorLibrary/obj/Release/RandomNameGeneratorLibrary.csproj.FileListAbsolute.txt
/RandomNameGeneratorLibrary/obj/Release/RandomNameGeneratorLibrary.dll
/RandomNameGeneratorLibrary/obj/Release/RandomNameGeneratorLibrary.pdb
/RandomNameGeneratorLibrary/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/RandomNameGeneratorLibrary/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/RandomNameGeneratorLibrary/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DotNetRandomNameGenerator.sln.DotSettings.user
/DotNetRandomNameGenerator.v11.suo
/RandomNameGeneratorLibrary/RandomNameGeneratorLibrary.csproj.user
/RandomNameGeneratorUnitTests/bin/Release/RandomNameGeneratorLibrary.dll
/RandomNameGeneratorUnitTests/bin/Release/RandomNameGeneratorLibrary.pdb
/RandomNameGeneratorUnitTests/bin/Release/RandomNameGeneratorUnitTests.dll
/RandomNameGeneratorUnitTests/bin/Release/RandomNameGeneratorUnitTests.pdb
/RandomNameGeneratorUnitTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/RandomNameGeneratorUnitTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/RandomNameGeneratorUnitTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/RandomNameGeneratorUnitTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/RandomNameGeneratorUnitTests/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/RandomNameGeneratorUnitTests/obj/Release/RandomNameGeneratorUnitTests.csproj.FileListAbsolute.txt
/RandomNameGeneratorUnitTests/obj/Release/RandomNameGeneratorUnitTests.csprojResolveAssemblyReference.cache
/RandomNameGeneratorUnitTests/obj/Release/RandomNameGeneratorUnitTests.dll
/RandomNameGeneratorUnitTests/obj/Release/RandomNameGeneratorUnitTests.pdb
/RandomNameGeneratorUnitTests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/RandomNameGeneratorUnitTests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/RandomNameGeneratorUnitTests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/RandomNameGeneratorUnitTests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.xml
/RandomNameGeneratorUnitTests/obj/Debug/RandomNameGeneratorUnitTests.csproj.FileListAbsolute.txt
/RandomNameGeneratorUnitTests/bin/Release/*.xml
/RandomNameGeneratorLibrary/*.nupkg
/RandomNameGeneratorUnitTests/obj/Release
